h1{
  color:red;
  font-size: 50px;
  font-style: unset;
}
p{
  color: pink;
  font-size: 25px;
}
h2{
  color:purple;
  font-size: 30px;
  font-style: unset;
}
#goal{
  height:50%;
  width: auto;
  margin: auto;
}
